* {
    border: none;
    border-radius: 0;
    font-family: "BlexMonoNerdFont",monospace;
    font-size: 14px;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background-color: #1a1a1a;
    color: #ffffff;
}

#workspaces button {
    color: #ffffff;
    background-color: transparent;
}

#workspaces button.focused {
    color: #1a1a1a;
    background-color: #d1cfc0;
}


